/* Footer */

footer ul {
  gap: 16px;
}

footer ul li a:hover {
  color: #eab308;
}

/* Hero Section */
#hero-section {
  padding: 96px 0;
}
#hero-section .hero-foto {
  aspect-ratio: 1/1;
  position: relative;
}
#hero-section .hero-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

/* About Section */
#aboutme-section {
  padding: 96px 0;
  overflow: hidden;
}
#aboutme-section .about-me-foto {
  position: relative;
  aspect-ratio: 1/1;
}
#aboutme-section .about-me-foto::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -35px;
  bottom: -35px;
  border: 16px solid #eab308;
  border-radius: 24px;
}
#aboutme-section .about-me-foto img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  z-index: 1;
}

/* My Service Section */
#myservice-section {
  padding: 96px 0;
}

#myservice-section .item {
  height: 100%;
  border-radius: 12px;
  text-align: center;
  gap: 32px;
}

/* My Portofolio */
#portofolio-section {
  padding: 96px 0;
}
#portofolio-section .portofolio-section-foto img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portofolio-section .portofolio-section-foto .main-foto {
  height: 100%;
}
#portofolio-section .portofolio-section-foto-child,
#portofolio-section .portofolio-section-foto-child .row {
  height: 100%;
}
#portofolio-section .portofolio-section-foto-child .col-6:nth-child(1),
#portofolio-section .portofolio-section-foto-child .col-6:nth-child(2) {
  padding-bottom: 10px;
}
#portofolio-section .portofolio-section-foto-child .col-6:nth-child(3),
#portofolio-section .portofolio-section-foto-child .col-6:nth-child(4) {
  padding-top: 10px;
}
#portofolio-section .portofolio-section-foto-child .child-foto {
  width: 100%;
  height: 100%;
}

/* Contact Me */
#contactme-section {
  padding: 96px 0;
}
